body {
  background-color: whitesmoke;
  color: black;
  font-family: sans-serif;
  font-size: 26px;
}

h1 {
  text-align: center;
}

/*borde de imagenes*/

.bordeimg {
  width: 300px;
  border-color: brown;
  border-style: solid;
}

/*h3 {
  font-size: 25px;
}*/

.politicas {
  text-align: center;
  font-size: 16px;
}

a {
  text-decoration-color: black;
 text-decoration: none;
}

a:hover {
  color: blue;
}

.logo {
color: black;
font-family: a=Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.camp {
  color: black;
}
