body {
  background-color: whitesmoke;
  color: black;
  font-family: sans-serif;
  font-size: 26px;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 25px;
}

.politicas {
  text-align: center;
}

a {
  text-decoration-color: black;
 text-decoration: none;
}

a:hover {
  color: red;
}

.logo {
color: black;
font-family: a=Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

