#Contenedor-principal {
  color: white;
  padding: 5px;
  font-size: 15px;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rentangulo {
  padding: 5px;
  margin: 5px;
} 

.px {
  background-color: magenta;
  width: 200px;
}

.vw {
  background-color: darkmagenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
}

/*Diseño del titulo principal*/
.colores {
  background-color: darkslategray;
  color: white;
  font-family: monospace;
}