body {
  background-color: rgb(250, 128, 114);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Variables en css */

[class="variables-css"] {
  --variables-css: gray;
  --variable-2: rgb(255, 225, 23);
  background-color: var(--variable-css, red);
}

.final {
  text-align: center;
}

h1 {
  text-align: center;
}

.enlace {
  text-decoration: none;
  color: var(--variabl-2, blue);
}

/*los estilos viajajn de abajo hacia arriva*/
a {
  background-color: var(--variable-2);
}

/*Las clases siempre estan priorisadas frente a las atribustos ejem a*/
.enlace1 {
  text-decoration: none;
  color: black;
}

/*Los id siempre estan priorisados frente a las clases*/

#id-enlace-1 {
  text-decoration: overline line-through;
}

.colores {
  background-color: rgb(250, 215, 155);
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  color: #000;
}

img {
  border-radius: 50%;
  border-width: 10px;
  border-style: groove;
  border-color: var(--variable-2);
  display: block;
  width: 300px;
  margin: auto;
}