.prueba {
    width: 300px;
    background-color: whitesmoke;
    margin: 15px;
}

.fondo {
    background-color: brown;
}

#color-titulo {
    background-color: aliceblue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}