.prueba {
    width: 300px;
    padding: 15px 10px 15px 14px;
    background-color: whitesmoke;
    border-style: dashed;
    border-color: aqua;
    border-radius: 50%;
}

.fondo {
    background-color: brown;
}

#color-titulo {
    background-color: aliceblue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}